<div class="gallery">

</div>

{% schema %} 
    { 
        "name": "Gallery", 
        "settings": [],
        "blocks": [
            {
                "type": "image",
                "name": "Image Block",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    }
                ]
            } 
        ]
    } 
{% endschema %}
 